@import "tailwindcss";

@theme {
  --bg-color: white;
  --form-color: grey;
  --text-color:black;
  
}

body {
  @apply bg-cover bg-center bg-no-repeat min-h-screen;
  background-image: url('../public/images/sale-3701777_1280.jpg');
  font-family: 'Montserrat', 'sans-serif';
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield; /* För Firefox */
}


[data-theme="dark"] { 
  --acme-canvas-color: oklch(0.21 0.034 264.665);}

@theme inline {  
  --color-canvas: var(--acme-canvas-color);}