@import "tailwindcss";

body {
  @apply bg-cover bg-center bg-no-repeat min-h-screen;
  background-image: url('../public/images/sale-3701777_1280.jpg');
  font-family: 'Montserrat', 'sans-serif';
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}

